.subtitle {
	font-size: 14px;
    line-height: 16px;
    height: 16px;
    margin: 4px 0px 0px;
    color: rgba(0, 0, 0, 0.54);
    overflow: hidden;
}
.list-item-style {
	border: 10px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: 15px;
    font-weight: inherit;
    position: relative;
    color: rgba(0, 0, 0, 0.87);
    line-height: 16px;
    background: none;
}
.card-header {
	font-weight: bolder;
}
.list-padding {
	margin-left: 0px;
    padding: 16px 16px 16px 72px;
    position: relative;
}

#team-view {
	.list-item {
		padding:0 !important;
		margin:0 !important;
		p {
			padding:0 !important;
			margin:0 !important;
		}
	}
	ol {
			padding-bottom:0 !important;
			margin-bottom:0 !important;
		}
}
.members-list {
	margin-top: 0;
	margin-left: 75px;
	span {
		@extend .list-item-style;
	}
	p {
		display: inline;
		@extend .subtitle;
	}
}
.planificar-list {
	margin-top: 0 !important;
	padding-top: 0 !important;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

#recursos-view {
	@extend .list-padding;
	margin-top: 0 !important;
	padding-top: 0 !important;
	h3 {
		font-weight: normal;
	}
	ol {
			padding-bottom:0 !important;
			margin-bottom:0 !important;
		}
	span {
		@extend .list-item-style;
	}
	p {
		display: inline;
		@extend .subtitle;
	}
	.conditions {
		margin-left: 25px;
	}
}